ServiceLogic/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ServiceModel/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ServiceLogic/obj/Debug/ServiceLogic.dll
ServiceLogic/obj/Debug/ServiceLogic.pdb
ServiceModel/obj/Debug/ResolveAssemblyReference.cache
ServiceModel/obj/Debug/ServiceModel.csproj.FileListAbsolute.txt
ServiceModel/obj/Debug/ServiceModel.dll
ServiceModel/obj/Debug/ServiceModel.pdb
