ServiceLogic/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ServiceModel/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ServiceLogic/obj/Debug/ServiceLogic.dll
ServiceLogic/obj/Debug/ServiceLogic.pdb
ServiceModel/obj/Debug/ResolveAssemblyReference.cache
ServiceModel/obj/Debug/ServiceModel.csproj.FileListAbsolute.txt
ServiceModel/obj/Debug/ServiceModel.dll
ServiceModel/obj/Debug/ServiceModel.pdb
_ReSharper.VansoPushPortal/Pdb/156b70b9a4949c40ae54401e3ab2ce4a86cfed42
_ReSharper.VansoPushPortal/Pdb/1ea1bf9414dff2300bc7d0b130dcc3e2a2a61112
_ReSharper.VansoPushPortal/Pdb/2c8423e0e843c9fa6b2957284301360b2aff29b4
_ReSharper.VansoPushPortal/Pdb/2e5c8aa6312c8777d517d344e86aa36d12756418
_ReSharper.VansoPushPortal/Pdb/3c18b7363dc7095eb004cac5c71e4556c553a9a9
_ReSharper.VansoPushPortal/Pdb/51adebe41d8a8232f936f704c22c4ad5dbe1a456
_ReSharper.VansoPushPortal/Pdb/6d86cbde104cf640caeb2824b5ecfbb949c112c7
_ReSharper.VansoPushPortal/Pdb/72212dcf46b8b72f48fc0667dea4c149115005e5
_ReSharper.VansoPushPortal/Pdb/c57a916bc60ca95b73e4eea4e72c176c1055dd8a
_ReSharper.VansoPushPortal/BuildScriptCache/2/7d592903.dat
_ReSharper.VansoPushPortal/JSTest/3/29536c1a.dat
_ReSharper.VansoPushPortal/JavaScriptCache/3/2b8c9ff3.dat
_ReSharper.VansoPushPortal/PersistentCaches/000016.sst
_ReSharper.VansoPushPortal/PersistentCaches/000018.sst
_ReSharper.VansoPushPortal/PersistentCaches/000019.log
_ReSharper.VansoPushPortal/PersistentCaches/MANIFEST-000017
_ReSharper.VansoPushPortal/XmlIndex/ServiceStack.Common.xml/A5D0BDDB.bin
_ReSharper.VansoPushPortal/XmlIndex/ServiceStack.Common.xml/D2A143AA.bin
_ReSharper.VansoPushPortal/XmlIndex/ServiceStack.Interfaces.xml/37C96431.bin
_ReSharper.VansoPushPortal/XmlIndex/ServiceStack.Interfaces.xml/80EDC0C0.bin
_ReSharper.VansoPushPortal/XmlIndex/ServiceStack.Redis.xml/9E1B9193.bin
_ReSharper.VansoPushPortal/XmlIndex/ServiceStack.Text.xml/01BEB65A.bin
_ReSharper.VansoPushPortal/XmlIndex/ServiceStack.Text.xml/49A7A96B.bin
_ReSharper.VansoPushPortal/XmlIndex/ServiceStack.xml/042AB8B8.bin
_ReSharper.VansoPushPortal/XmlIndex/ServiceStack.xml/0A52CC29.bin
_ReSharper.VansoPushPortal/AspFileDataCache.dat
_ReSharper.VansoPushPortal/AssemblyInfoCache.dat
_ReSharper.VansoPushPortal/BuildScriptCache/.crc
_ReSharper.VansoPushPortal/CompletionStatistics/Statistics.dat
_ReSharper.VansoPushPortal/ConditionalNames/.crc
_ReSharper.VansoPushPortal/ConditionalNames/4/6d86cd38.dat
_ReSharper.VansoPushPortal/GeneratedFiles/.crc
_ReSharper.VansoPushPortal/GeneratedFiles/2/20e3ebaa.dat
_ReSharper.VansoPushPortal/JSTest/.crc
_ReSharper.VansoPushPortal/JavaScriptCache/.crc
_ReSharper.VansoPushPortal/JavaScriptCache/3/6b4d995f.dat
_ReSharper.VansoPushPortal/JavaScriptCache/3/707caf18.dat
_ReSharper.VansoPushPortal/MvcAnnotations/.crc
_ReSharper.VansoPushPortal/MvcAnnotations/4/6fc00111.dat
_ReSharper.VansoPushPortal/NamedArguments/.crc
_ReSharper.VansoPushPortal/NamedArguments/1/16d424dd.dat
_ReSharper.VansoPushPortal/PersistentCaches/CURRENT
_ReSharper.VansoPushPortal/PersistentCaches/LOG
_ReSharper.VansoPushPortal/PersistentCaches/LOG.old
_ReSharper.VansoPushPortal/ProjectFileDataCache/ShouldUseHostCompilerProvider.cache.dat
_ReSharper.VansoPushPortal/RecentItems/RecentFiles.dat
_ReSharper.VansoPushPortal/SymbolCache.bin
_ReSharper.VansoPushPortal/TagPrefixes/.crc
_ReSharper.VansoPushPortal/TagPrefixes/1/5f049eb9.dat
_ReSharper.VansoPushPortal/WebSymbols/.crc
_ReSharper.VansoPushPortal/WebSymbols/8/618c285.dat
ServiceLogic/bin/Debug/ServiceLogic.dll
ServiceLogic/bin/Debug/ServiceLogic.pdb
ServiceLogic/bin/Debug/ServiceModel.dll
ServiceLogic/bin/Debug/ServiceModel.pdb
ServiceLogic/obj/Debug/ResolveAssemblyReference.cache
ServiceModel/bin/Debug/ServiceModel.dll
ServiceModel/bin/Debug/ServiceModel.pdb
VansoPushPortal/.idea/VansoPushPortal.iml
VansoPushPortal/.idea/encodings.xml
VansoPushPortal/.idea/misc.xml
VansoPushPortal/.idea/modules.xml
VansoPushPortal/.idea/scopes/scope_settings.xml
VansoPushPortal/bin/ServiceLogic.dll
VansoPushPortal/bin/ServiceLogic.pdb
VansoPushPortal/bin/ServiceModel.dll
VansoPushPortal/bin/ServiceModel.pdb
VansoPushPortal/bin/VansoPushPortal.dll
VansoPushPortal/bin/VansoPushPortal.pdb
