<div class="container-fluid nopadding">
<div class="row-fluid">
    <div class="span12">
      <div id="header">
        <a href="#" class="logo">

        </a>
        <div class="hright">
            {{view App.UserNavView}}

        </div>
      </div>
    </div>
  </div>
  </div>
 </div>
  <div class="container-fluid" id="container">
    <div class="row-fluid">
           {{view App.NavigationView}}

        <div class="row-fluid">
          {{outlet}}
          </div>

        </div>
    <footer>
    </footer>
    </div>
   </div>
