<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ServiceUrl" value="https://pop.vanso.com/json/"/>
    <add key="ApiToken" value="kl9mtvOquiA1zUeEPO3LKSMcIBY6UjCpSnfJo8fNGFotfhAgKMtAXpmI49Z1rv+ZyyCvBXLgrrxXeGAfRnh5"/>
    <add key="ApplicationCode" value="A35E0-291B8"/>
    <add key=""/>
  </appSettings>
</configuration>